In [75]:
import pandas as pd
import sqlalchemy
from sqlalchemy import text

In [76]:
user = 'root'
password = 'mysqlpwd'
host = 'localhost'
database = 'desafioModulo02'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

'mysql://root:mysqlpwd@localhost/desafioModulo02'

In [77]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [78]:
df = pd.read_csv('data\\dados_jogadores.csv', sep=';', encoding='latin-1')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [80]:
df.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

In [81]:
df.num_vitorias.fillna(df['total_partidas'] - df['num_derrotas'], inplace=True)
df.num_derrotas.fillna(df['total_partidas'] - df['num_vitorias'], inplace=True)
df.total_partidas.fillna(df['num_vitorias'] + df['num_derrotas'], inplace=True)

In [82]:
df.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [83]:
data = '03/09/1990'
data_tratada = str(data).split('/')[2] + '/' + str(data).split('/')[1] + '/' + str(data).split('/')[0]
data_tratada

'1990/09/03'

In [84]:
df['data_nascimento_tratada'] = df['data_nascimento'].str.split('/').str[2] + '/' + df['data_nascimento'].str.split('/').str[1] + '/' + df['data_nascimento'].str.split('/').str[0]

In [85]:
df[:10]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas,data_nascimento_tratada
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0,1990/09/03
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0,1986/05/01
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0,1964/10/04
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0,1979/09/28
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0,1978/09/03
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88.0,0.0,88.0,1977/11/04
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53.0,24.0,77.0,1986/11/11
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35.0,27.0,62.0,1996/03/18
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27.0,18.0,45.0,1969/01/14
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4.0,1.0,5.0,2004/05/06

In [86]:
lst_pais = list(df.pais.unique())
lst_pais

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [87]:
lst_jogo = list(df.jogo.unique())
lst_jogo

['Dama', 'Jogo da velha', 'Xadrez']

In [88]:
for pais in lst_pais:
    try:
        query = f"insert into pais (nome_pais) values ('{pais}')"
        conn.execute(text(query))
        print(f"Registro inserido com sucesso: {pais}.")
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {pais}. O erro encontrado foi: {e}.')

Registro inserido com sucesso: Chile.
Registro inserido com sucesso: Brasil.
Registro inserido com sucesso: Argentina.
Registro inserido com sucesso: Uruguai.
Registro inserido com sucesso: Paraguai.

In [89]:
for jogo in lst_jogo:
    try:
        query = f"insert into jogo (nome_jogo) values ('{jogo}')"
        conn.execute(text(query))
        print(f"Registro inserido com sucesso: {jogo}.")
        
    except Exception as e:
        print(f'Não foi possível inserir o registro {jogo}. O erro encontrado foi: {e}.')

Registro inserido com sucesso: Dama.
Registro inserido com sucesso: Jogo da velha.
Registro inserido com sucesso: Xadrez.

In [90]:
df.to_sql('stg_jogador', con=conn, schema='desafioModulo02', if_exists='replace', index=False)

499

In [91]:
# Confirma a inclusão dos dados acima
conn.commit()